.subtitle {
    font-family: 'Amatic SC', 'Delicious Handrawn', cursive;
    text-shadow: 20px 5px 3px rgba(#000000, .2);
    font-size: 3rem;
    font-weight: 700;
    animation-name: shadow-dancing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}